@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252B42;
    --foreground: #ededed;
  }
}

body {
  width: 1440px;
  height: 1132px;
  padding: 0px 59px 0px 59px;
  gap: 40px;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.montserrat {
  font-family: var(--font-montserrat);
}